* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

html {
  background-image: linear-gradient(to right,rgb(1, 1, 190), purple);
  
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: azure;
  border-radius: 5px;
  
}

p {
  margin-bottom: 0.8rem;
}

h1 {
  text-align: center;
}


#name-label {
  margin-bottom: 0.8rem;
}

#email-label {
  margin-bottom: 0.8rem;
}

#age-label {
  margin-bottom: 0.8rem;
}

.text-head {
  font-size: xx-large;
}

.form-group {
  padding: 1rem;
}

.description-head {
  text-align: center;
  padding: 1rem;
}

.container {
  padding-top: 1.3rem;
  margin: 0;
}

#survey-form {
  background-color: #1b1b32cc;
  border-radius: 15px;
  width: 60%;
  margin: auto;
  padding: 40px;
}

label {
  display: flex;
  align-items: center;
}

.form-control {
  margin: auto;
  width: 100%;
  display: block;
}

.text-area {
 width: 100%;
 min-height: 120px;
 resize: vertical;
}

.submit-button {
  width: 100%;
  min-height: 50px;
  padding: 12px;
  border-radius: 2px;
  border-style: none;
  background-color: #37af65;
  color: azure;
}

.input-radio {
  margin-right: 1rem;
  
}

.input-checkbox {
  margin-right: 1rem;
}

@media screen and (max-width: 550px) {
  html {
    background-image: linear-gradient(to right,red, orange);
  }

  #survey-form {
    background-color: #581c64b2;
    border-radius: 15px;
    padding: 0.001rem;
    width: 17rem;
  }
  .submit-button {
    width: 100%;
    min-height: 50px;
    padding: 12px;
    border-radius: 2px;
    border-style: none;
    background-color: rgba(4, 190, 214, 0.897);
    color: azure;
  }
}